In [1]:
import numpy as np
import pandas as pd
import os 
from tqdm import tqdm

### Joining Inhale and Exhale

In [81]:
waste_annotation = []
uneven = []
Wheeze_list = []
unequal = []
for i in tqdm(ann_list):
    ann = pd.read_csv(i, sep = "\t", header=None)
    A = pd.DataFrame()
    try:
        for j in ann.index:
            if (ann.iloc[j,2].find("nhale") != -1) or (ann.iloc[j,2].find("xhale") != -1):
                A = A.append(ann.iloc[j])
                
        if A.shape[0] % 2 == 0:
            if A.shape[0] != 0:
                B = pd.DataFrame(np.zeros((A.shape[0]//2,3)))
                B[0] = list(A[0])[::2]
                B[1] = list(A[1])[1::2]
                B[2] = 'Breathe'
                B.to_csv("./breathe_annotations/"+i, index = False, sep= '\t', header = None)
            else:
                Wheeze_list.append(i)
                
        else:
            uneven.append(i)
            
        
    except:
        waste_annotation.append(i)

100%|██████████| 285/285 [00:18<00:00, 15.04it/s]

### Wheeze Only

In [105]:
len(Wheeze_list)

15

In [101]:
for i in tqdm(Wheeze_list):
    ann = pd.read_csv(i, sep = "\t", header=None)
    A = pd.DataFrame()
    for j in ann.index:
        if (ann.iloc[j,2].find("heez") != -1):
            A = A.append(ann.iloc[j])
        B = pd.DataFrame(np.zeros((A.shape[0],3)))
        B = A
        B[2] = 'Breathe'
        B.to_csv("./breathe_annotations/"+i, index = False, sep= '\t', header = None)

100%|██████████| 15/15 [00:01<00:00, 11.30it/s]

In [103]:
waste_annotation

['2223_P_Asthma_F_after_TBD_Y.txt',
 '2483_P_Asthma_M_after_TBD_Y.txt',
 '2410_P_Asthma_M_after_TBD_N.txt',
 '2467_P_Asthma_F_after_Sev_Y.txt',
 '2474_P_NAsthma_F_before_TBD_Y.txt',
 '1074_C_Na_F_Na_Na_Y.txt',
 '2262_P_Asthma_F_after_TBD_Y.txt',
 '2369_P_Asthma_M_before_Mil_Y.txt',
 '2100_P_Asthma_M_after_TBD_Y.txt',
 '2457_P_Asthma_M_before_TBD_N.txt',
 '2336_P_Asthma_F_after_TBD_Y.txt',
 '2320_P_Asthma_F_after_TBD_Y.txt']

In [102]:
(uneven)

['1435_C_Na_M_Na_Na_Y.txt',
 '2445_P_Asthma_F_after_Mil_Y.txt',
 '2399_P_Asthma_M_after_TBD_Y.txt',
 '1072_C_Na_M_Na_Na_Y.txt',
 '2340_P_Asthma_M_after_Mod_Y.txt',
 '1461_C_Na_F_Na_Na_Y.txt',
 '2051_P_Asthma_F_after_TBD_N.txt',
 '2432_P_NAsthma_M_before_TBD_N.txt',
 '1365_C_Na_F_Na_Na_Y.txt',
 '1423_C_Na_F_Na_Na_N.txt',
 '2400_P_Asthma_M_after_TBD_Y.txt',
 '1373_C_Na_M_Na_Na_Y.txt',
 '2473_P_Asthma_M_after_TBD_Y.txt',
 '1060_C_Na_F_Na_Na_Y.txt',
 '2121_P_Asthma_M_after_TBD_N.txt',
 '1150_C_Na_M_Na_Na_Y.txt',
 '2266_P_Asthma_M_before_Mil_Y.txt',
 '1442_C_Na_M_Na_Na_Y.txt',
 '2159_P_Asthma_F_after_Mod_Y.txt']

In [11]:
A = pd.read_csv("./1003_C_Na_F_Na_Na_N.txt", sep= "\t", header=None)

In [6]:
labels = A.iloc[:,2]

In [16]:
A.iloc[4]

0    16.9799
1    18.1969
2     Cough5
Name: 4, dtype: object

### Inhale-Exahle Join II

In [2]:
ann_list = [i for i in os.listdir("./") if i.endswith(".txt")]

In [3]:
len(ann_list)

285

In [4]:
waste = []
for i in tqdm(ann_list):
    A = pd.read_csv(i, sep="\t", header=None)
    B = pd.DataFrame()
    try:
        labels = A.iloc[:,2]
        for j in range(0,len(labels)):
            if labels[j].find("nhale") != -1:
                if labels[j+1].find("xhale") != -1:
                    B = B.append(A.iloc[j])
                    B = B.append(A.iloc[j+1])
                elif labels[j+1].find("heeze") != -1:
                    if labels[j+2].find("xhale") != -1:
                        B = B.append(A.iloc[j])
                        B = B.append(A.iloc[j+2])
        if B.shape[0] != 0:
                C = pd.DataFrame(np.zeros((B.shape[0]//2,3)))
                C[0] = list(B[0])[::2]
                C[1] = list(B[1])[1::2]
                C[2] = 'Breath'
                C.to_csv("./breathe_annotations_exp_5/"+i, index = False, sep= '\t', header = None)
        else:
            waste.append(i)
    except:
        waste.append(i)

100%|██████████| 285/285 [00:17<00:00, 15.92it/s]

In [6]:
len(waste)

27

In [11]:
waste

['4758_P_Asthma_M_before_TBD_N.txt',
 '4815_P_Asthma_F_before_TBD_N.txt',
 '4743_P_Asthma_F_after_TBD_Y.txt',
 '4235_P_Asthma_M_after_TBD_N.txt',
 '4270_P_Asthma_M_after_TBD_Y.txt',
 '4642_P_Asthma_F_after_Sev_Y.txt',
 '4246_P_Asthma_F_after_TBD_Y.txt',
 '4539_P_Asthma_F_after_TBD_Y.txt',
 '4396_C_Na_F_Na_Na_Y.txt',
 '4074_P_Asthma_F_after_TBD_Y.txt',
 '4817_P_Asthma_M_after_TBD_Y.txt',
 '4427_P_Asthma_M_before_Sev_Y.txt',
 '4404_P_Asthma_M_after_TBD_N.txt',
 '4344_P_Asthma_M_before_Sev_Y.txt',
 '4213_P_Asthma_F_after_TBD_Y.txt',
 '4406_P_Asthma_M_after_TBD_Y.txt',
 '4758_P_Asthma_M_after_TBD_N.txt',
 '4300_P_Asthma_F_before_TBD_Y.txt',
 '4157_P_Asthma_M_after_TBD_Y.txt',
 '4553_P_Asthma_F_after_TBD_Y.txt',
 '4256_P_Asthma_F_after_TBD_Y.txt',
 '4695_P_Asthma_M_before_Mil_Y.txt',
 '4258_P_asthma_M_after_Mod_Y.txt',
 '4082_P_NAsthma_F_before_TBD_Y.txt',
 '4627_P_Asthma_F_after_TBD_Y.txt',
 '4427_P_Asthma_M_after_Sev_Y.txt',
 '4241_P_Asthma_M_after_TBD_Y.txt']

In [12]:
left = []
for i in waste:
    A = pd.read_csv(i, sep="\t", header=None)
    B = pd.DataFrame()
    try:
        labels = A.iloc[:,2]
        for j in range(0,len(labels)):
            if labels[j].find("heez") != -1:
                B = B.append(A.iloc[j])
                
        if B.shape[0] != 0:
            B[2] = 'Breath'
            B.to_csv("./breathe_annotations_exp_5/"+i, index = False, sep= '\t', header = None)    
            print(i)
            
        else:
            left.append(i)
        
    except:
        left.append(i)

4235_P_Asthma_M_after_TBD_N.txt
4246_P_Asthma_F_after_TBD_Y.txt
4074_P_Asthma_F_after_TBD_Y.txt
4817_P_Asthma_M_after_TBD_Y.txt
4404_P_Asthma_M_after_TBD_N.txt
4213_P_Asthma_F_after_TBD_Y.txt
4406_P_Asthma_M_after_TBD_Y.txt
4300_P_Asthma_F_before_TBD_Y.txt
4157_P_Asthma_M_after_TBD_Y.txt
4258_P_asthma_M_after_Mod_Y.txt
4627_P_Asthma_F_after_TBD_Y.txt

In [14]:
left

['4758_P_Asthma_M_before_TBD_N.txt',
 '4815_P_Asthma_F_before_TBD_N.txt',
 '4743_P_Asthma_F_after_TBD_Y.txt',
 '4270_P_Asthma_M_after_TBD_Y.txt',
 '4642_P_Asthma_F_after_Sev_Y.txt',
 '4539_P_Asthma_F_after_TBD_Y.txt',
 '4396_C_Na_F_Na_Na_Y.txt',
 '4427_P_Asthma_M_before_Sev_Y.txt',
 '4344_P_Asthma_M_before_Sev_Y.txt',
 '4758_P_Asthma_M_after_TBD_N.txt',
 '4553_P_Asthma_F_after_TBD_Y.txt',
 '4256_P_Asthma_F_after_TBD_Y.txt',
 '4695_P_Asthma_M_before_Mil_Y.txt',
 '4082_P_NAsthma_F_before_TBD_Y.txt',
 '4427_P_Asthma_M_after_Sev_Y.txt',
 '4241_P_Asthma_M_after_TBD_Y.txt']

In [24]:
left

['4758_P_Asthma_M_before_TBD_N.txt',
 '4815_P_Asthma_F_before_TBD_N.txt',
 '4743_P_Asthma_F_after_TBD_Y.txt',
 '4270_P_Asthma_M_after_TBD_Y.txt',
 '4642_P_Asthma_F_after_Sev_Y.txt',
 '4539_P_Asthma_F_after_TBD_Y.txt',
 '4396_C_Na_F_Na_Na_Y.txt',
 '4427_P_Asthma_M_before_Sev_Y.txt',
 '4344_P_Asthma_M_before_Sev_Y.txt',
 '4758_P_Asthma_M_after_TBD_N.txt',
 '4553_P_Asthma_F_after_TBD_Y.txt',
 '4256_P_Asthma_F_after_TBD_Y.txt',
 '4695_P_Asthma_M_before_Mil_Y.txt',
 '4082_P_NAsthma_F_before_TBD_Y.txt',
 '4427_P_Asthma_M_after_Sev_Y.txt',
 '4241_P_Asthma_M_after_TBD_Y.txt']

In [81]:
waste_c = []
for i in tqdm(left):
    A = pd.read_csv(i, sep="\t", header=None)
    A.dropna(inplace=True)
    A.reset_index(drop=True, inplace=True)
    B = pd.DataFrame()
#     print(A)
    try:
        labels = A.iloc[:,2]
        for j in range(0,len(labels)):
            if labels[j].find("nhale") != -1:
                if labels[j+1].find("xhale") != -1:
                    B = B.append(A.iloc[j])
                    B = B.append(A.iloc[j+1])
                elif labels[j+1].find("heeze") != -1:
                    if labels[j+2].find("xhale") != -1:
                        B = B.append(A.iloc[j])
                        B = B.append(A.iloc[j+2])
        if B.shape[0] != 0:
                C = pd.DataFrame(np.zeros((B.shape[0]//2,3)))
                C[0] = list(B[0])[::2]
                C[1] = list(B[1])[1::2]
                C[2] = 'Breath'
                C.to_csv("./breathe_annotations_exp_5/"+i, index = False, sep= '\t', header = None)
        else:
            waste_c.append(i)
    except:
        waste_c.append(i)

100%|██████████| 16/16 [00:00<00:00, 33.25it/s]

'4642_P_Asthma_F_after_Sev_Y.txt'

In [79]:
len(waste_c)

10

In [80]:
waste_c

['4815_P_Asthma_F_before_TBD_N.txt',
 '4743_P_Asthma_F_after_TBD_Y.txt',
 '4270_P_Asthma_M_after_TBD_Y.txt',
 '4539_P_Asthma_F_after_TBD_Y.txt',
 '4427_P_Asthma_M_before_Sev_Y.txt',
 '4344_P_Asthma_M_before_Sev_Y.txt',
 '4553_P_Asthma_F_after_TBD_Y.txt',
 '4256_P_Asthma_F_after_TBD_Y.txt',
 '4427_P_Asthma_M_after_Sev_Y.txt',
 '4241_P_Asthma_M_after_TBD_Y.txt']

In [68]:
A.reset_index(drop=True, inplace=True)

In [74]:
# A = pd.read_csv("./4642_P_Asthma_F_after_Sev_Y.txt", sep="\t", header=None)
B = pd.DataFrame()
A.dropna(inplace=True)
labels = A.iloc[:,2]
for j in range(0,len(labels)):
    if labels[j].find("nhale") != -1:
        if labels[j+1].find("xhale") != -1:
            B = B.append(A.iloc[j])
            B = B.append(A.iloc[j+1])
        elif labels[j+1].find("heeze") != -1:
            if labels[j+2].find("xhale") != -1:
                B = B.append(A.iloc[j])
                B = B.append(A.iloc[j+2])
if B.shape[0] != 0:
    print("hi")

    C = pd.DataFrame(np.zeros((B.shape[0]//2,3)))
    C[0] = list(B[0])[::2]
    C[1] = list(B[1])[1::2]
    C[2] = 'Breath'

hi

In [75]:
C

            0           1       2
0   58.074284   59.818451  Breath
1   60.089765   61.653055  Breath
2   61.717654   63.151746  Breath
3   63.280944   64.934672  Breath
4   65.050950   66.575481  Breath
5  669.062264  671.194023  Breath
6  671.323220  673.222424  Breath
7  673.467899  675.108707  Breath
8  675.354183  676.839954  Breath
9  677.162948  678.629340  Breath

In [76]:
A

             0           1       2
0    15.710418   16.743998   Cough
1    17.260788   18.242689   Cough
2    18.759480   19.844739   Cough
3    22.066936   23.203874   Cough
4    23.824022   24.805923   Cough
5    57.118222   57.958006  Exhale
6    58.074284   58.836549  Inhale
7    58.926988   59.818451  Exhale
8    60.089765   60.606555  Inhale
9    60.684074   61.653055  Exhale
10   61.717654   62.273203  Inhale
11   62.337802   63.151746  Exhale
12   63.280944   63.849413  Inhale
13   63.965691   64.934672  Exhale
14   65.050950   65.541901  Inhale
15   65.632339   66.575481  Exhale
16  122.272530  126.303493     Yee
17  128.060579  132.039863     Yee
18  133.693591  137.414479     Yee
19  138.499739  141.755516     Yee
20  142.737417  145.424726     Yee
21  201.548127  203.925361     Uuu
22  204.752226  207.749608     Uuu
23  208.679830  211.341299     Uuu
24  212.064805  214.597076     Uuu
25  215.320582  217.671977     Uuu
26  218.421323  220.927755     Uuu
27  229.196396  231.728667     Aaa
28  232.374655  234.932766     Aaa
29  235.346198  237.749271     Aaa
30  238.136864  239.971469     Aaa
31  240.436580  242.193666     Aaa
32  251.366690  253.382171     Ooo
33  253.847282  255.578529     Ooo
34  255.966121  257.826566     Ooo
35  258.446714  259.997084     Ooo
36  260.488035  262.787750     Ooo
37  295.319685  299.815759     Sss
38  301.417808  305.448771     Sss
39  306.482351  309.686449     Sss
40  310.564992  313.536535     Sss
41  314.285881  317.283263     Sss
42  669.062264  670.160442  Inhale
43  670.160442  671.194023  Exhale
44  671.323220  672.279282  Inhale
45  672.279282  673.222424  Exhale
46  673.467899  674.178485  Inhale
47  674.178485  675.108707  Exhale
48  675.354183  675.974331  Inhale
49  675.974331  676.839954  Exhale
50  677.162948  677.731417  Inhale
51  677.757256  678.629340  Exhale
52  687.279113  687.886342   Cough
53  688.390212  688.945761   Cough
54  689.785545  690.379854   Cough
55  691.387595  691.956064   Cough
56  692.834607  693.480594   Cough
57  694.397897  694.966366   Cough

In [52]:
if B.shape[0] != 0:
    print("hi")

hi

In [44]:
B

             0           1       2
6    58.074284   58.836549  Inhale
7    58.926988   59.818451  Exhale
8    60.089765   60.606555  Inhale
9    60.684074   61.653055  Exhale
10   61.717654   62.273203  Inhale
11   62.337802   63.151746  Exhale
12   63.280944   63.849413  Inhale
13   63.965691   64.934672  Exhale
14   65.050950   65.541901  Inhale
15   65.632339   66.575481  Exhale
42  669.062264  670.160442  Inhale
43  670.160442  671.194023  Exhale
44  671.323220  672.279282  Inhale
45  672.279282  673.222424  Exhale
46  673.467899  674.178485  Inhale
47  674.178485  675.108707  Exhale
48  675.354183  675.974331  Inhale
49  675.974331  676.839954  Exhale
50  677.162948  677.731417  Inhale
51  677.757256  678.629340  Exhale

In [45]:
C

             0            1       2
0    34.302983    37.863204  Breath
1    37.863204    40.950979  Breath
2    40.950979    43.819404  Breath
3    43.920642    46.586590  Breath
4    46.789067    50.754242  Breath
5  1102.007913  1106.575025  Breath
6  1106.575025  1111.546307  Breath
7  1111.788809  1115.466749  Breath
8  1115.466749  1119.548859  Breath
9  1119.953028  1124.479724  Breath